@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

.header {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    background-color: #FFD93B;

    &-inicio {
        height: 100vh;
    }
}

.navbar {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 5px 0;
    font-family: 'Architects Daughter', cursive;

    &-inicio {
        height: 100px;
    }

    &-brand {
        display: flex;
        height: 100%;
        width: 200px;
        margin-left: 20px;
    }

    &-toggler {
        border: 3px solid black;
        color: black;
        margin-right: 20px;
    }

    &-collapse {
        justify-content: flex-end;
        width: 100%;
        padding-right: 30px;
        z-index: 100;
        background-color: #ffd83bc2;
    }

    &-nav {
        .nav-item {
            font-size: 24px;
            margin-left: 20px;

            .nav-link {
                color: black;
                text-align: right;

                &--active {
                    text-decoration: underline;
                    font-weight: bold;
                }
            }
        }

        .dropdown {
            &-toggle::after {
                margin-left: 0;
            }

            &-menu {
                background-color: white;
                margin: 0;
                border: 3px solid black;
                padding: 10px 20px;
            }

            &-item {
                font-size: 15px;
                word-spacing: 2px;
                border-bottom: 1px solid black;

                &-last {
                    border: none;
                }
            }
        }
    }
}