.productos {
    display: flex;
    min-height: 100vh;
}

.tab {
    float: left;
    border: 1px solid #ccc;
    background-color: #eaebd2;
    width: 20%;

    button {
        display: block;
        color: black;
        padding: 22px 16px;
        width: 100%;
        border: none;
        outline: none;
        text-align: left;
        cursor: pointer;
        transition: 0.3s;
        font-family: 'Architects Daughter', cursive;
        font-size: 20px;
        border-bottom: 1px solid black;

        background-color: #eaebd2;
    }

    .muestra {
        font-size: 26px;
        font-weight: bold;
    }
}



/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    float: left;
    padding: 0px 12px;
    border: 1px solid #ccc;
    width: 80%;
    border-left: none;
    display: none;
    flex-flow: row wrap;
    justify-content: space-evenly;
    background-color: rgba(231, 212, 219, 0.377);

    &.madera {
        display: flex;
    }
}

$categorias: (madera: rgba(253, 230, 188, 0.781), tela: rgb(245, 200, 200), lona:rgb(226, 205, 223));

@each $categoria,
$color in $categorias {
    .#{$categoria} {
        article {
            background-color: $color;
        }

    }
}



$verde: black;



.producto {
    width: 270px;
    height: 380px;
    text-align: center;
    margin: 1rem;
    box-shadow: 0px 0px 2px 2px #c9c0c6;
    border-radius: 5px;
    padding: 1em;

    &__nombre {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;

        h3 {
            font-weight: 500;
            font-size: 1.3rem;
            margin: 5px 0;
            //color: #1D2C36;
        }
    }

    &__borde {
        border-top: 5px solid black;
        margin-bottom: 10px;
    }

    .producto__precio {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;

        p {
            font-weight: 500;
            font-size: 1.5rem;
            color: $verde;
        }
    }

    .botones {
        border-color: $verde;
        background-color: $verde;
    }

    .sinStock {
        text-decoration: line-through;
    }
}

.producto:hover {
    box-shadow: 0px 0px 5px 5px #3f3b3e;
}





.modal-body {
    ul {
        list-style-position: inside;
    }
}

.msjCarrito {
    button {
        margin: 10px;
    }

    a {
        text-decoration: none;
        color: white;
    }
}

.carousel-item img {
    width: 200px;
    height: 200px;
    border-radius: 15%;
    overflow: hidden;
    border: 4px solid #c4b9b9;
}

.flecha {
    font-size: 30px;
}

.carousel-control-prev {
    background-color: unset;
}

@media screen and (max-width: 576px) {
    .productos {
        flex-direction: column;
    }

    .tab {
        width: 100%;

        button {
            text-align: center;
        }
    }

    .tabcontent {
        width: 100%;
    }
}