//BANNER PRINCIPAL

.bannerInicio {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    width: 100%;
    height: 90vh;
    background-color: $bgInicio;
    background-image: url(../../imagenes/bannerIndex.png);
    background-size: cover;
    background-attachment: fixed;
    background-position: 30%;
    &-texto {
        width: 50%;
        font-family: 'Dancing Script', cursive;
        word-spacing: 10px;
        font-size: 100%;
        padding-right: 50px;
        display: flex;
        align-items:center;
        justify-content: center;
        text-align: center;
        flex-direction: column;

        h1 {
            font-size: 70px;
        }

        h2 {
            font-size: 50px;
            color: black;
            font-weight: bold;
            font-style: italic;
        }
    }
}


//EN RESPONSIVE LA IMAGEN DE FONDO CAMBIA A UNA CON MENOS OPACIDAD
@media screen and (max-width: 768px) {
    .bannerInicio {
        justify-content: center;
        background-image: url(../../imagenes/bannerIndexMobile.png);
        &-texto {
            top: 30vh;
            width: 100%;
            font-family: 'Dancing Script', cursive;
            padding: 0 10px;
            position: absolute;

            h2 {
                font-size: 40px;
            }
        }
    }
}
