//BANNER PRINCIPAL

.bannerInicio {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    width: 100%;
    height: 90vh;
    background-color: $bgInicio;
    background-image: url(../../imagenes/bannerIndex.png);
    background-size: cover;
    background-attachment: fixed;
    background-position: 30%;
    &-texto {
        width: 50%;
        font-family: 'Dancing Script', cursive;
        word-spacing: 10px;
        font-size: 100%;
        padding-right: 50px;
        display: flex;
        align-items:center;
        justify-content: center;
        text-align: center;
        flex-direction: column;

        h1 {
            font-size: 70px;
            z-index: 20;
        }

        h2 {
            font-size: 50px;
            color: black;
            font-family: "Barlow Semi Condensed", sans-serif;
            background-color: unset;
            font-weight: bold;
            font-style: italic;
            z-index: 50;
        }
        a{
            z-index: 30;
        }
        .botonComprar {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 15px auto;
            border-radius: 50px;
            background-color: palevioletred;
            color: white;
            padding: 15px 20px 15px 20px;
            border: none;
            font-weight: 600;
            text-transform: uppercase;
            font-size: 20px;
            outline: none;
            width: 200px;
            border-color: palevioletred;
            border-style: outset;
            border-width: 2px;
            border: none;
            z-index: 10;
            &:hover {
                border-width: 4px;
                color: white;
                transform: scale(1.1, 1.1);
                background-color: rgb(247, 128, 187);
                border-radius: 50px;
            }
        }
    }

    &-imagen {
        width: 50%;
        display: flex;
        justify-content: flex-end;

        img {
            width: 100%;
            height: auto;
            z-index: 0;
        }
    }
}


//EN RESPONSIVE LA IMAGEN QUEDA DE FONDO CON OPACITY BAJO
@media screen and (max-width: 768px) {
    .bannerInicio {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        width: 100%;
        height: 90vh;
        background-image: url(../../imagenes/bannerIndexMobile.png);
        &-texto {
            top: 30vh;
            width: 100%;
            font-family: 'Dancing Script', cursive;
            word-spacing: 10px;
            font-size: 100%;
            padding: 0 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            
            position: absolute;
            text-align: center;

            h2 {
                font-size: 40px;
                color: black;
                background-color: unset;
            }

        }

        &-imagen {
            width: 100%;
            display: flex;

            img {
                width: 100%;
                height: auto;
                opacity: 50%;
                z-index: 0;
            }
        }
    }

}