.producto {
    width: 270px;
    height: 380px;
    text-align: center;
    margin: 1rem;
    box-shadow: 0px 0px 2px 2px #c9c0c6;
    border-radius: 5px;
    padding: 1em;

    &__nombre {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;

        h3 {
            font-weight: 500;
            font-size: 1.3rem;
            margin: 5px 0;
            //color: #1D2C36;
        }
    }

    &__borde {
        border-top: 5px solid black;
        margin-bottom: 10px;
    }

    .producto__precio {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;

        p {
            font-weight: 500;
            font-size: 1.5rem;
            color: $verde;
        }
    }

    .botones {
        border-color: $verde;
        background-color: $verde;
    }

    .sinStock {
        text-decoration: line-through;
    }
}

.producto:hover {
    box-shadow: 0px 0px 5px 5px #3f3b3e;
}

.carousel-item img {
    width: 200px;
    height: 200px;
    border-radius: 15%;
    overflow: hidden;
    border: 4px solid #c4b9b9;
}

.flecha {
    font-size: 30px;
}

.carousel-control-prev {
    background-color: unset;
}