//CONTENEDOR FLEX PARA LOS PRODUCTOS | HASTA 4 POR FILA
.seccionProductos{
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    width: 100%;
    padding: 30px 2%;
}

//CARD PRODUCTO
.producto {
    width: 270px;
    height: 380px;
    text-align: center;
    margin: 1rem;
    box-shadow: 0px 0px 2px 2px #c9c0c6;
    border-radius: 5px;
    padding: 1em;
    background-color: $bgItemProducto;
    &__nombre {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;

        h3 {
            font-weight: 500;
            font-size: 1.3rem;
            margin: 5px 0;
            color: $colorItemProducto;
        }
    }

    &__borde {
        border-top: 5px solid $colorItemProducto;
        margin-bottom: 10px;
    }

    .producto__precio {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;

        p {
            font-weight: 500;
            font-size: 1.5rem;
            color: $colorItemProducto;
        }
    }

    .botones {
        border-color: $colorItemProducto;
        background-color: $colorItemProducto;
    }

    .sinStock {
        text-decoration: line-through;
    }
}

.producto:hover {
    box-shadow: 0px 0px 5px 5px #3f3b3e;
}

.carousel-item img {
    width: 200px;
    height: 200px;
    border-radius: 15%;
    overflow: hidden;
    border: 4px solid #c4b9b9;
}

.flecha {
    font-size: 30px;
    color: $colorItemProducto;
}

.carousel-control-prev {
    background-color: unset;
}