@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

.header {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    background-color: $bgHeader;
}

.navbar {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 5px 0;
    font-family: 'Architects Daughter', cursive;

    &-brand {
        display: flex;
        height: 100%;
        width: 200px;
        margin-left: 20px;
    }

    &-toggler {
        border: 3px solid black;
        color: black;
        margin-right: 20px;
    }

    &-collapse {
        justify-content: flex-end;
        width: 100%;
        padding-right: 30px;
        z-index: 100;
    }

    &-nav {
        .nav-item {
            font-size: 24px;
            margin-left: 20px;

            .nav-link {
                color: black;
                text-align: right;

                &--active {
                    text-decoration: underline;
                    font-weight: bold;
                }
            }
        }
    }
}

@media screen and (max-width: 992px){
    .navbar {
        &-collapse {
            background-color: rgba($bgHeader, 0.9);
        }        
    }
}